/* Main Container and Text Styling */
.options_container {
  margin: auto;
}

.rai-intro-text {
  font-size: 1.5vw;
  width: 60vw;
  margin: auto;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

#static-timer-circle {
  height: 7vw;
  width: 7vw;
  background: #00ADEF;
  color: white;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  border-radius: 3.5vw;
  -moz-border-radius: 3.5vw;
  -webkit-border-radius: 3.5vw;
}

#static-timer-circle p {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.header-plain {
  border: none;
}

.top-section {
  width: 100%;
  height: 15vw;
}

.left-top, .middle-top, .right-top {
  width: 33.33333%;
  float: left;
  height: 100%;
  min-height: 7vw;
}

.section-text {
  font-weight: bold;
  font-size: 3vw;
  margin: 0 auto;
  color: #00ADEF;
}

.trial-text {
  margin: auto;
  justify-content: center;
  font-size: 2.5vw;
  color: #545454;
}

.trial-propositions, .trial-question {
  font-size: calc(1.2vw + .75vh); /* Responsive font size */
  color: #545454;
  width: 80vw; /* Scale with viewport width */
  margin: auto; /* Center align */
  padding: 1.5vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    width: fit-content;
    gap: 1vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.grid-item {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    width: 30vw; /* Fixed width */
    height: 5vw; /* Fixed height */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #00ADEF;
    color: white;
    text-align: center;
    padding: 0px;
    overflow: hidden; /* Hide overflowed content */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text from wrapping */
    line-height: 5vw; /* Match line height to container height */
    font-size: 1.5vw;
}

.grid-item:hover {
  background-color: #F68712; 
}

.grid-item:checked {
    background-color: #F68712; /* Different background color for clicked state */
    /* Add other styles if needed to indicate the clicked state */
}

.grid-item input[type="checkbox"] {
    display: none;
}

.grid-item input:checked + b {
    border: solid 1px #000;
    color: greenyellow;
    background: #00ADEF;
}

/* Adjustments for different grid layouts */
.grid-container.four-items {
    grid-template-rows: repeat(2, 1fr);
}

.grid-container.six-items {
    grid-template-rows: repeat(3, 1fr);
}

.grid-container.eight-items {
    grid-template-rows: repeat(4, 1fr);
}


/* Other Styling */
.intro-screen-img {
  height: 15vw;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-img {
  height: 10vw;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.continue-button {
  background-color: #00ADEF;
  color: white;
  border: none;
  padding: 1vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  border-radius: 1vw;
  margin: auto;
  font-size: 1vw;
}

.continue-button:hover {
  background-color: #F68712; /* Green */
}

.footer-instructions {
  background-color: white;
  border: none;
  position: fixed;
  bottom: 0;
  width: 96.5%;
  height: 80px;
}

.footer-trials {
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  position: fixed;
  width: 100%;
  height: 3vm; 
  color: white; 
  text-align: center;
  line-height: 3vm; 
  background-color: white;
  margin: auto;
  left: 0;
  bottom: 0;
}

.trial-submit-button {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  font-size: 1vw;
  margin: auto;
  background-color: #00ADEF;
  color: white;
}

.trial-submit-button:hover {
  background-color: #F68712; 
}